<html>
<head> <title>Style conferences </title>
  <link rel="stylesheet" href="static/conferences.css">
</head>
<body class="home">
  <div class= "splittop">
  <button>  <h1>STYLES <br>CONFERENCE</h1>
       </button>
       <section>
         August 24–26th — Chicago, IL

       </section>
       <ul>
         <li><a href="#home">HOME</a></li>
         <li><a href="#speaker.html">SPEAKERS</a></li>
          <li><a href="#schedule.html">SPEAKERS</a></li>
         <li><a href="#venue.html">VENUE</a></li>
         <li><a href="#register.html">REGISTER</a></li>
       </ul>
       <form  action="">

       </form>
       <from> <input name="name" list="state" placeholder="set">
         <datalist class="state">
           <option value=""></option>

         </datalist>
  </div>

  <div class="splitsecond">
    <ul>
    <li>  <img src="static/spk 1.jpg" alt="speakers"></li>
    <li> <img src="static/spk 2.jpg" alt="schedule"></li>
    <li> <img src="static/spk 3.jpg" alt="venue"></li>

    </ul>

</div>

<div class="splitthird">

</div>

<div class="splitlast">

</div>
</body>
</html>
